// colors

$header-bg: #244774;
$hero-bg: linear-gradient(to bottom right, #14518d, #244774);
$seo-bg:#1d8190;
$shadow: rgba(0, 0, 0, 0.2);
$ppc-bg: #5067c1;
$about-bg: #6ba4d7;
$team-bg: #ff1e5e;
$skills-bg: #5067c1;
$join-bg: #1e1e1e;
$contact-bg: #ff1e5e;
$cyan: #53beed;